.modal{
  background-color: rgba(0, 0, 0, 0.81);
  display: block;
}

.cus_toast{
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 9999999999999999999;
}
.cus_download_btn{
  width: 210px;
  margin-top: 21px;
}
.cus_trans_div{
  background: rgb(0, 0, 0, 0.45);
    border-radius: 25px;
}

.cus_trans_div .h3{
  color: white;
}